<div class="jumbotron text-center">
	<h1>All Records</h1>
	
</div>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>Board ID</th>
			<th>Temperature</th>
			<th>Humidity</th>
			
		</tr>
	</thead>

	<tbody>
		<% for (var item of items) {%>
			<tr>
				<td><%= item: Device_EUI %> </td>
				<td><%= item: "temperature" %> </td>
				<td><%= item: "humidity" %></td>
				
			</tr>
		<%} %>
	</tbody>
</table>