
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<script type="text/javascript" src="js/3rd/jquery.js"></script>
<script type="text/javascript" src="./js/ws.js"></script>
<script type="text/javascript" src="./js/ace.js" charset="utf-8"></script>

<!-- look into this file for sample javascript implementation of the WebSocket API -->
<script type="text/javascript" src="./js/websocket.js"></script>

<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>


<div id="clog">
	<table id="log">
		<thead>
			<tr><th>Device EUI</th><th>Local time</th><th>Freq [MHz]</th><th>Data rate</th><th>RSSI</th><th>SNR</th><th>Seq #</th><th>Port</th><th>Payload</th></tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

</body>
</html>
