<div class="jumbotron text-center">
	<h1>All Records</h1>
	
</div>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>Board ID</th>
			<th>Temperature</th>
			<th>Humidity</th>
			
		</tr>
	</thead>

	<tbody>
		<% datas.forEach(function(data) { %>
			<tr>
				<td><%= data.Device_EUI %> 	</td>
				<td><%= data.temperature %> 	</td>
				<td><%= data.humidity %>		</td>
				
			</tr>
		<% }); %>
	</tbody>
</table>